div {
  margin: 10px 0px; }

.bgYellow, .tableRestaurant table thead {
  background-color: #ffd800; }

.bgBlue, .tableFood table thead {
  background-color: #11167a; }

.textWhite, .tableRestaurant table thead, .tableFood table thead {
  color: white; }

.tableRestaurant table {
  border: 1px solid #87866C;
  border-collapse: collapse;
  width: 50%; }
  .tableRestaurant table thead tr th,
  .tableRestaurant table tbody tr th {
    border: 1px solid #87866C; }
  .tableRestaurant table thead tr * {
    padding: 20px 0px; }
  .tableRestaurant table tbody tr td {
    border: 1px solid #87866C;
    text-align: center; }
    .tableRestaurant table tbody tr td input {
      margin: 9px 0px; }
  .tableRestaurant table tbody tr td:nth-child(1),
  .tableRestaurant table tbody tr td:nth-child(2) {
    text-align: left; }
  .tableRestaurant table tbody tr:nth-child(even) {
    background-color: #ddd; }
  .tableRestaurant table tbody tr:nth-child(odd) {
    background-color: #ffff; }

.tableFood table {
  border: 1px solid #87866C;
  border-collapse: collapse;
  width: 50%; }
  .tableFood table thead tr th,
  .tableFood table tbody tr th {
    border: 1px solid #87866C; }
  .tableFood table thead tr * {
    padding: 20px 0px; }
  .tableFood table tbody tr td {
    border: 1px solid #87866C;
    text-align: center; }
    .tableFood table tbody tr td input {
      margin: 9px 0px; }
  .tableFood table tbody tr td:nth-child(1),
  .tableFood table tbody tr td:nth-child(2) {
    text-align: left; }
  .tableFood table tbody tr td:nth-child(3) {
    text-align: right; }
  .tableFood table tbody tr:nth-child(even) {
    background-color: #ddd; }
  .tableFood table tbody tr:nth-child(odd) {
    background-color: #ffff; }
