<div>

    <div>
        <label>Name : </label>
        <input type="text" data-dojo-attach-point='textNameNode' />
    </div>

    <div>
        <label>Type : </label>
        <select data-dojo-attach-point='selectNode'></select>
    </div>

    <div>
        <label style="display: block;">Detail : </label>
        <textarea cols="30" rows="10" data-dojo-attach-point='textareaDetailNode'></textarea>
    </div>

    <div>
        <input type="button" value="Save" data-dojo-attach-event='onclick: save' />
        <input type="button" value="Cancel" data-dojo-attach-event='onclick: resetForm' />
    </div>

</div>